<header>
  <div class="header_container">
    <div class="left_header">
      <%= image_tag "oFruit.png" %>
    </div>
    <div class="right_header">
      <a href="/">Home</a>
    </div>
  </div>
</header>

<div class="content">
  <%= form_for @fruit do |f| %>
    <p>
      <%= f.label :name, class: "form-label" %>
      <%= f.text_field :name %>
    </p>

    <p>
      <%= f.label :description, class: "form-label" %>
      <%= f.text_field :description %>
    </p>

    <p>
      <%= f.submit class: "form-button" %>
    </p>
  <% end %>
</div>