<header>
  <div class="header_container">
    <div class="left_header">
      <%= image_tag "oFruit.png" %>
    </div>
    <div class="right_header">
      <a href="/">Home</a>
    </div>
  </div>
</header>

<h1><%= @fruit[:name] %></h1>
<div class="content">
  <h2> Description: <%= @fruit[:description] %></h2>

  <%= link_to "Edit Details", edit_fruit_path(@fruit) %><br>

  <%= link_to "Delete Fruit", fruit_path(@fruit), method: :delete, data: {confirm: "Are you sure?"} %>
</div>